.subscribe{
    border-color: gray;
    border-style: solid;
    color: white;
    border-width: 5px;
    background-color: black;
    font-size: 2.5rem;
    border-radius: 1vw;
 }
 .subscribe:hover{
    transform: scale(1.14);
    transition: .5s;
    background-color: blue;
    border-color: rgb(0, 0, 131);
 }
 .home{
    border-color: gray;
    border-style: solid;
    color: white;
    border-width: 5px;
    background-color: black;
    font-size: 2.5rem;
    border-radius: 1vw;
 }
 .home:hover{
    transform: scale(1.14);
    transition: .5s;
    background-color: blue;
    border-color: rgb(0, 0, 131);
 }
 .dashbord{
    padding-right: .5vw;
    padding-left: .5vw;
    font-size: 2rem;
    top: 5px;
    height: 70px;
    position: relative;
    display: flex;
    justify-content: space-between;
 }
 body{
    background-color: black;
    background-image: url(logo.png);
    background-repeat: repeat-y;
    background-size: 100%;
 }
 .dashlogo{
    width: 70px;
 }
 .dashbord1{
    border-color: gray;
    border-style: solid;
    height: 80px;
    position: absolute;
    width: 99%;
    border-width: 4px;
    border-radius: 1vw;
 }
.addons{
    display: flex;
    width: 99%;
    position: relative;
    top: 310px;
    flex-wrap: wrap;
}
.imagep{
    width: 435px;
}
.paxels{
    justify-content: center;
    border-radius: 1vw;
    border-width: 5px;
    border-color: gray;
    border-style: solid;
    color: white;
    background-color: black;
    width: 435px;
    font-size: 25px;
    transition: .3s;
    flex-grow: 1;
}
.paxels:hover{
    transform: scale(1.05);
    transition: .3s;
    background-color: blue;
    border-color: rgb(0, 0, 131);
}
.Effected_armor{
    border-radius: 1vw;
    border-width: 5px;
    border-color: gray;
    border-style: solid;
    color: white;
    background-color: black;
    width: 435px;
    font-size: 25px;
    transition: .3s;
    flex-grow: 1;
}
.Effected_armor:hover{
    transform: scale(1.05);
    transition: .3s;
    background-color: blue;
    border-color: rgb(0, 0, 131);
}
.MeChemistry{
    border-radius: 1vw;
    border-width: 5px;
    border-color: gray;
    border-style: solid;
    color: white;
    background-color: black;
    width: 435px;
    font-size: 25px;
    transition: .3s;
    flex-grow: 1;
}
.MeChemistry:hover{    
    transform: scale(1.04);
    transition: .3s;
    background-color: blue;
    border-color: rgb(0, 0, 131);
}
.pa{
      width: 99%;
        border-style: solid;
        border-color: rgb(107, 107, 107);
        border-width: .5vw;
        border-radius: 1vw;
        font-size: 4vw;
        text-align: center;
        padding-right: 4vw;
        padding-left: 4vw;
        padding-top: 3vw;
        padding-bottom: 3vw;
        background-color: rgb(0, 0, 0);
        top: 90px;
        position: absolute;
        color: rgb(255, 255, 255);
}
::-webkit-scrollbar {
    width: 1.5vw;
   }
::-webkit-scrollbar-track{
    background-color: white;
    border-radius: .5em;
   }
::-webkit-scrollbar-thumb{
    background-color: black;
    border-radius: .5em;
    border: .25vw solid rgb(107, 107, 107)
   }
::-webkit-scrollbar-thumb:hover{
    transition-duration: 50ms;
    background-color: blue;
    border: .25vw solid rgb(0, 0, 131)
   }
@media (orientation: portrait) {
    .addons{
        flex-direction: column;
        width: 99%;
        top: 220px;
        left: 1%;
    }
    .paxels{
        width: 99%;
        font-size: 50px;
        border-width: 15px;
        border-radius: 3vw;
    }
    .MeChemistry{
        width: 99%;
        font-size: 50px;
        border-width: 15px;
        border-radius: 3vw;
    }
    .Effected_armor{
        width: 99%;
        font-size: 50px;
        border-width: 15px;
        border-radius: 3vw;
    }
    .imagep{
        width: 99%;
        font-size: 50px;
    }
    .pa{
        top: 170px;
        font-size: 5rem;
        width: 96%;
        left: 2%;
        border-radius: 1.5vw;
        border-width: 15px;
    }
    .pa:hover{
        transform: scale(104%);
    }
    .dashlogo{
        width: 140px;
    }
    .dashbord1{
        height: 150px;
        width: 97%;
        border-radius: 3vw;
    }
    .dashbord{
        width: 96.5%;
        height: 140px;
        padding-right: 1vw;
        padding-left: 1vw;
    }
    .home{
        font-size: 5rem;
        width: 35%;
        border-radius: 3vw;
    }
    .home:hover{
        transform: scale(106%);
    }
    .subscribe{
        font-size: 4rem;
        width: 35%;
        border-radius: 3vw;
    }
    .subscribe:hover{
        transform: scale(106%);
    }

}