.subscribe{
    border-color: gray;
    border-style: solid;
    color: white;
    border-width: 5px;
    background-color: black;
    font-size: 2.5rem;
    border-radius: 1vw;
}
.subscribe:hover{
    transform: scale(1.14);
    transition: .5s;
    background-color: blue;
    border-color: rgb(0, 0, 131);
}
.home{
    border-color: gray;
    border-style: solid;
    color: white;
    border-width: 5px;
    background-color: black;
    font-size: 2.5rem;
    border-radius: 1vw;
}
.home:hover{
    transform: scale(1.14);
    transition: .5s;
    background-color: blue;
    border-color: rgb(0, 0, 131);
}
.dashbord{
    padding-right: .5vw;
    padding-left: .5vw;
    font-size: 2rem;
    top: 5px;
    height: 70px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
body{
    background-color: black;
    background-image: url(logo.png);
    background-repeat: repeat-y;
    background-size: 100%;
}
.dashlogo{
    width: 70px;
}
.dashbord1{
    border-color: gray;
    border-style: solid;
    height: 80px;
    position: absolute;
    width: 99%;
    border-width: 4px;
    border-radius: 1vw;
}
.addons{
    width: 99%;
    position: relative;
    top: 310px;
    flex-wrap: wrap;
    justify-content: center;
}
.imagep{
    width: 435px;
}
.paxels{
    justify-content: center;
    border-radius: 1vw;
    border-width: 5px;
    border-color: gray;
    border-style: solid;
    color: white;
    background-color: black;
    width: 435px;
    font-size: 25px;
    transition: .3s;
}
.paxels:hover{
    transform: scale(1.05);
    transition: .3s;
    background-color: blue;
    border-color: rgb(0, 0, 131);
}
.Effected_armor{
    border-radius: 1vw;
    border-width: 5px;
    border-color: gray;
    border-style: solid;
    color: white;
    background-color: black;
    width: 435px;
    font-size: 25px;
    transition: .3s;
}
.Effected_armor:hover{
    transform: scale(1.05);
    transition: .3s;
    background-color: blue;
    border-color: rgb(0, 0, 131);
}
.MeChemistry{
    border-radius: 1vw;
    border-width: 5px;
    border-color: gray;
    border-style: solid;
    color: white;
    background-color: black;
    width: 435px;
    font-size: 25px;
    transition: .3s;
}
.MeChemistry:hover{    
    transform: scale(1.04);
    transition: .3s;
    background-color: blue;
    border-color: rgb(0, 0, 131);
}
.pa{
      width: 99%;
        border-style: solid;
        border-color: rgb(107, 107, 107);
        border-width: .5vw;
        border-radius: 1vw;
        font-size: 4vw;
        text-align: center;
        padding-right: 4vw;
        padding-left: 4vw;
        padding-top: 3vw;
        padding-bottom: 3vw;
        background-color: rgb(0, 0, 0);
        top: 90px;
        position: absolute;
        color: rgb(255, 255, 255);
}
::-webkit-scrollbar {
    width: 1.5vw;
   }
::-webkit-scrollbar-track{
    background-color: white;
    border-radius: .5em;
   }
::-webkit-scrollbar-thumb{
    background-color: black;
    border-radius: .5em;
    border: .25vw solid rgb(107, 107, 107)
   }
::-webkit-scrollbar-thumb:hover{
    transition-duration: 50ms;
    background-color: blue;
    border: .25vw solid rgb(0, 0, 131)
   }
@media (max-width: 900px) {
    .paxels{
        display: none;
        flex: none;
    }
    .Effected_armor{
        display: none;
    }
    .MeChemistry{
        display: none;
    }
}