body{
    background-color: black;
}
.D{
    position: fixed;
    z-index: 0;
    width: 99%;
    height: 5.5vw;
    background-color: white;
    border-radius: .5vw;
    border-width: .5vw;
    border-color: red;
    border-style: solid;
}
.B{
    position: fixed;
    padding-left: .8%;
    padding-top: .75%;
    width: 96.9%;
    display: flex;
    justify-content: space-between;
    height: 4vw;
}
.T{
    z-index: 10;
    position: relative;
    letter-spacing: 30px;
    padding-left: 12px;
    width: 4vw;
    color: yellow;
    font-family: monospace;
    font-size: 2.5em;
    font-weight: bold;
    background-color: black;
    border-radius: .5vw;
    border-width: .5vw;
    border-color: red;
    border-style: solid;
    overflow: hidden;
    word-break: break-all;
    transition-duration: .5s;
    
}
.T:hover{
    padding-left: 5px;
    letter-spacing: normal;
    width: 15vw;
    transition-duration: .5s;
    background-color: blue;
    border-color: rgb(0, 0, 131);
    cursor: pointer;
}
.L{
    width: 3.5vw;
    
}

.L:hover{
    width: 10vw;
}

::-webkit-scrollbar {
        width: 1.5vw;
   }
::-webkit-scrollbar-track{
    background-color: white;
    border-radius: .5em;
   }
::-webkit-scrollbar-thumb{
    background-color: black;
    border-radius: .5em;
    border: .25vw solid red;
   }
::-webkit-scrollbar-thumb:hover{
    background-color: blue;
    border: .25vw solid rgb(0, 0, 131);
    
   }


   @media only screen and (max-width: 600px){
    .I{
        height: 15vw;
    }
    .L{
        width: 1.5em;
        font-size: 10.5em;
    }
    .D{
        border-radius: 10.5vw;
        height: auto;
    }
    .B{
        height: 11vw;
    }
    .T{
        border-width: 1.5vw;
        border-radius: 1.5vw;
        height: auto;
        width: auto;
        font-size: 5.3em;
        letter-spacing: 0px;
    }
    .T:hover{
        width: auto;
    }
}


.start{
    display: flex;
    flex-direction: column

}
.logoL{
    background-color: transparent;
    border-color: transparent;
    padding-top: 6vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
.bigL{
    width: 30vw;
}
.M{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 4.5em;
    color: yellow;
    background-color: blue;
    border-color: red;
    border-width: 1vw;
    border-style: groove;
    font-style: normal;
}
.ps{
    display: flex;
    justify-content: space-around;
}
.popup{
    background_color: rgba(0, 0, 0, 0.500);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 10000000;
  }
  .her{
    font-weight: bold;
    font-family: monospace;
    font-size: 3rem;
    background-color: white;
    border-color: red;
    border-radius: 1vw;
    border-width: 10px;
    border-style: solid;
    width: 50vw;
    height: 40vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .box{
    width: 20vw;
    height: 2vw;
    font-size: 2rem;
    color:white;
    background-color: black;
    border-style: ridge;
    border-width: .5vw;
  }
.shi{
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.500);
    box-shadow: 0px 0px 10000px 50px inset;
}
.content{
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    flex-wrap: wrap;
    align-content: space-between;
}
.fc{
    width: 250px;
    height: 20vw;
    border-width: .5vw;
    border-style: solid;
    border-radius: 1vw;
    border-color: red;
    color: yellow;
    background-color: white;
    font-size: 3.5em;
    font-family: monospace;
    font-weight: bold;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(filelogo.svg);
    transition-duration: .5s;
}
.fc:hover{
    width: 300px;
    transition-duration: .5s;
    background-color: blue;
    border-color: rgb(0, 0, 131);
    cursor: pointer;
}

.cc{
    width: 250px;
    height: 20vw;
    border-width: .5vw;
    border-style: solid;
    border-radius: 1vw;
    border-color: red;
    color: yellow;
    background-color: white;
    font-size: 3.5em;
    font-family: monospace;
    font-weight: bold;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(ContactLogo.svg);
    transition-duration: .5s;
}
.cc:hover{
    width: 300px;
    transition-duration: .5s;
    background-color: blue;
    border-color: rgb(0, 0, 131);
    cursor: pointer;
}
.vc{
    width: 250px;
    height: 20vw;
    border-width: .5vw;
    border-style: solid;
    border-radius: 1vw;
    border-color: red;
    color: yellow;
    background-color: white;
    font-size: 3.5em;
    font-family: monospace;
    font-weight: bold;
    background-size: 130%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(PlayLogo.svg);
    transition-duration: .5s;
}
.vc:hover{
    width: 300px;
    transition-duration: .5s;
    background-color: blue;
    border-color: rgb(0, 0, 131);
}
.ac{
    width: 250px;
    height: 20vw;
    border-width: .5vw;
    border-style: solid;
    border-radius: 1vw;
    border-color: red;
    color: yellow;
    background-color: white;
    font-size: 3.5em;
    font-family: monospace;
    font-weight: bold;
    background-size: 125%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(AddonLogo.svg);
    transition-duration: .5s;
}
.ac:hover{
    width: 300px;
    transition-duration: .5s;
    background-color: blue;
    border-color: rgb(0, 0, 131);
    cursor: pointer;
    background-size: 125%;
}