body{
    background-color: black;
    margin: 10px;
}
.D{
    position: fixed;
    z-index: 0;
    width: 100.5%;
    height: 5.5vw;
    background-color: white;
    border-radius: .5vw;
    border-width: .5vw;
    border-color: yellow;
    border-style: solid;
}
.B{
    position: fixed;
    padding-left: .8%;
    padding-top: .75%;
    width: 98.9%;
    display: flex;
    justify-content: space-between;
    height: 4vw;
}
.T{
    z-index: 10;
    position: relative;
    letter-spacing: 50px;
    padding-left: 12px;
    width: 4vw;
    color: white;
    font-family: monospace;
    font-size: 2.5vw;
    font-weight: bold;
    background-color: green;
    border-radius: .5vw;
    border-width: .5vw;
    border-color: yellow;
    border-style: solid;
    overflow: hidden;
    transition-duration: .5s;
    
}
.T:hover{
    padding-left: 5px;
    letter-spacing: normal;
    width: 15vw;
    transition-duration: .5s;
    background-color: yellow;
    border-color: green;
    color: green;
    cursor: pointer;
}
.L{
    width: 3.5vw;
    
}






::-webkit-scrollbar {
        width: 1.5vw;
   }
::-webkit-scrollbar-track{
    background-color: black
    ;
    border-radius: .5em;
   }
::-webkit-scrollbar-thumb{
    background-color: black;
    border-radius: .5em;
    border: .35vw solid yellow;
   }
::-webkit-scrollbar-thumb:hover{
    background-color: yellow;
    border: .35vw solid green;
    
   }





.start{
    display: flex;
    flex-direction: column

}
.logoL{
    background-color: transparent;
    border-color: transparent;
    padding-top: 6vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
.bigL{
    width: 25vw;
}
.M{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
    font-size: 10vw;
    font-weight: 900;
    color: white;
    background-color: green;
    border-color: yellow;
    border-width: 1vw;
    border-style: groove;
    font-style: normal;
}

.ps{
    display: flex;
    justify-content: space-around;
}
.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 10000000;
  }
  .her{
    font-weight: bold;
    font-family: monospace;
    font-size: 3rem;
    background-color: white;
    border-color: yellow;
    border-radius: 1vw;
    border-width: 10px;
    border-style: solid;
    width: 50vw;
    height: 40vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .box{
    width: 20vw;
    height: 2vw;
    font-size: 2rem;
    color:white;
    background-color: black;
    border-style: ridge;
    border-width: .5vw;
  }
.shi{
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.500);
    box-shadow: 0px 0px 10000px 50px inset;
}
.content{
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    flex-wrap: wrap;
    align-content: space-between;
}
.fc{
    width: 20vw;
    height: 20vw;
    border-width: .5vw;
    border-style: solid;
    border-radius: 1vw;
    border-color: yellow;
    color: green;
    background-color: white;
    font-size: 3.5vw;
    font-family: monospace;
    font-weight: bold;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(filelogo.svg);
    transition-duration: .5s;
}
.fc:hover{
    width: 25vw;
    transition-duration: .5s;
    background-color: yellow;
    border-color: green;
    cursor: pointer;
}

.cc{
    width: 20vw;
    height: 20vw;
    border-width: .5vw;
    border-style: solid;
    border-radius: 1vw;
    border-color: yellow;
    color: green;
    background-color: white;
    font-size: 3.5vw;
    font-family: monospace;
    font-weight: bold;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(ContactLogo.svg);
    transition-duration: .5s;
}
.cc:hover{
    width: 25vw;
    transition-duration: .5s;
    background-color: yellow;
    border-color: green;
    cursor: pointer;
}
.vc{
    width: 20vw;
    height: 20vw;
    border-width: .5vw;
    border-style: solid;
    border-radius: 1vw;
    border-color: yellow;
    color: green;
    background-color: white;
    font-size: 3.5vw;
    font-family: monospace;
    font-weight: bold;
    background-size: 130%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(PlayLogo.svg);
    transition-duration: .5s;
}
.vc:hover{
    width: 25vw;
    transition-duration: .5s;
    background-color: yellow;
    border-color: green;
    cursor: pointer;
}
.ac{
    width: 20vw;
    height: 20vw;
    border-width: .5vw;
    border-style: solid;
    border-radius: 1vw;
    border-color: yellow;
    color: green;
    background-color: white;
    font-size: 3.5vw;
    font-family: monospace;
    font-weight: bold;
    background-size: 125%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(AddonLogo.svg);
    transition-duration: .5s;
}
.ac:hover{
    width: 25vw;
    background-color: yellow;
    border-color: green;
    cursor: pointer;
    background-size: 125%;
}
@media all and (max-width: 600px){
    .T{
        width: 30%;
        height: 8.5vw;
        letter-spacing: 1px;
        font-size: 1.5em;
    }
    .D{
        height: 10vw;
        border-width: 1.5vw;
        border-radius: 2vw;
    }
    .L{
        width: 5.5vw;
    }
    .M{
        font-size: 3.5em;
        width: 90%;
        border-width: 3vw;
    }
    .logoL{
        padding-top: 13vw;
        padding-bottom: 1vw;
    }
    .bigL{
        width: 50vw;
    }
    .content{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        height: 100vw;
    }
    .ac{
        width: 50%;
        height: 50vw;
        font-size: 3em;
        border-width: 3vw;
        border-radius: 3vw;
    }
    .cc{
        width: 50%;
        height: 50vw;
        font-size: 3em;
        border-width: 3vw;
        border-radius: 3vw;
    }
    .fc{
        width: 50%;
        height: 50vw;
        font-size: 3em;
        border-width: 3vw;
        border-radius: 3vw;
    }
    .vc{
        width: 50%;
        height: 50vw;
        font-size: 3em;
        border-width: 3vw;
        border-radius: 3vw;
    }
    .ac:hover{
        width: 50%;
        height: 50vw;
        font-size: 3em;
        border-width: 3vw;
        border-radius: 3vw;
    }
    .cc:hover{
        width: 50%;
        height: 50vw;
        font-size: 3em;
        border-width: 3vw;
        border-radius: 3vw;
    }
    .fc:hover{
        width: 50%;
        height: 50vw;
        font-size: 3em;
        border-width: 3vw;
        border-radius: 3vw;
    }
    .vc:hover{
        width: 50%;
        height: 50vw;
        font-size: 3em;
        border-width: 3vw;
        border-radius: 3vw;
    }
    .her{
        width: 100%;
        height: 50%;
        font-size: 2em;
    }
    .box{
        width: 100%;
        height: 10vw;
        font-size: 3em;
    }
}
