body {
    background-color: black;
    margin: 10px;
}


.Box {
    width: 97%;
    height: auto;
    background-color: white;
    border-color: yellow;
    border-width: 1vw;
    border-style: solid;
    border-radius: 1vw;
    height: 5vw;
    display: flex;
    justify-content: space-between;
    position: fixed;
}

.T {
    margin: .4vw;
    border-width: .5vw;
    border-color: green;
    border-style: solid;
    border-radius: 1vw;
    background-color: yellow;
    height: 4.2vw;
    width: 4.2vw;
    transition: .5s;
    letter-spacing: 5vw;
    font-size: 2.5vw;
    font-weight: 750;
    padding-left: .8vw;
    color: black;
    overflow: hidden;
}

.T:hover {
    width: 10vw;
    letter-spacing: normal;
    padding-left: 0vw;
    border-color: yellow;
    background-color: green;
    color: white;
}

.im {
    background-color: white;
    border: none;
    width: 5vw;
    background-size: 80%;
    background-repeat: no-repeat;
    background-image: url(logo.svg);
}


::-webkit-scrollbar {
    width: 1.5vw;
}



::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: .5em;
    border: .35vw solid yellow;
}

::-webkit-scrollbar-thumb:hover {
    background-color: yellow;
    border: .35vw solid green;

}


.Vlist {
    padding-top: 3vw;
    display: none;
}

.BV {
    border-width: 10px;
    border-color: red;
    border-radius: 10px;
    border-style: solid;
    background-color: black;
}

.V1 {
    width: 49.85%;
    height: auto;
}

.M {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 4.5em;
    color: white;
    background-color: green;
    border-color: yellow;
    border-width: 1vw;
    border-style: groove;
    font-style: normal;
    transition: .5s;
}

.MD {
    padding-top: 9vw;
}

.M:hover {
    cursor: pointer;
    transform: scale(1.1);
}

@media only screen and (max-width: 600px) {
    .Box {
        height: 10vw;
        border-width: 2vw;
        width: 91%;
    }

    .T {
        width: 30vw;
        letter-spacing: normal;
        font-size: 7vw;
        height: 10vw;
        margin-top: .7vw;
        border-width: 1.5vw;
        margin: 0px;
        background-color: white;
    }

    .im {
        width: 10vw;
    }
    .I {
        height: 15vw;
    }

    .L {
        width: 1.5em;
        font-size: 10.5em;
    }

    .A {
        border-width: 2vw;
        border-radius: 1.5vw;
        height: auto;
        font-size: 3em;
    }

    .M {
        width: 70%;
        font-size: 3em;
        border-width: 3vw;
    }

    .MD {
        padding-top: 15vw;
    }
}